@font-face {
    font-family: 'Amiamie';
    src: url('./polices/amiamie/Amiamie-Regular.otf') format('opentype');
    font-weight: 400;
}


@font-face {
    font-family: 'Aileron';
    src: url('./polices/aileron/Aileron-Regular.otf') format('opentype');
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
}


body {
    background-image: url("./medias/test7.png");
    background-size: cover;
    font-family: 'Aileron', sans-serif;
    font-weight: 800;
    font-size: clamp(20px, 1.5vw, 32px);
    padding: 1vh;
    letter-spacing: -5%;
    min-height: 100vh;
}


.gridHeader {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1.5vw;
    align-items: start;

}

.navHeader {

    grid-column: span 3 / span 3;
    display: flex;
    justify-content: space-around;
    font-family: 'Amiamie', sans-serif;
    font-size: clamp(20px, 1.5vw, 32px);
    font-weight: 400;
}

.miscHeader {
    grid-column-start: 5;
    display: flex;
    justify-content: end;
    text-align: right;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 78vh;
    font-size: clamp(20px, 1.5vw, 32px);
    color: rgb(255, 255, 255);
}

.projet {
    padding: 0.5%;
    background-color: rgb(0, 0, 0);
    mix-blend-mode: exclusion;
    width: 50vw;
    list-style: none;
    display: none;
    text-align: left;
}

.propos {
    padding: 0.5%;
    background-color: rgb(0, 0, 0);
    mix-blend-mode: exclusion;
    width: 50vw;
    list-style: none;
    display: none;
    text-align: left;
}

.accueil {
    padding: 0.5%;
    mix-blend-mode: exclusion;
    width: 50vw;
    list-style: none;
    align-items: center;
    display: inline-block;
    text-align: center;
}

.contact {
    padding: 0.5%;
    mix-blend-mode: exclusion;
    width: 50vw;
    list-style: none;
    align-items: center;
    display: none;
    text-align: left;
}
.projet:hover {
    background-color: rgb(255, 255, 255);


}

.projet p {
    mix-blend-mode: difference;
}


.gridFooter {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1.5vw;
    height: 10vh;
    align-items: end;

}

.spacingFooter {
    grid-column: span 3 / span 3;
    display: flex;

}


.miscFooter {
    grid-column-start: 5;
    display: flex;
    justify-content: end;
    text-decoration: none;
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
}

footer {

    height: 10vh;
}

header {

    height: 10vh;
}